//- bool: {val, ok, ng}
//- .chip.white-text.red(
//-   '[ngClass]'=`{teal: ${bool.val}`
//- )
//-   span(*ngIf=bool.val)= bool.ok
//-   span(*ngIf='!'+bool.val)= bool.ng
//- div(tabindex="0")
.btn-floating.btn-large.red.tooltipped(
  '[ngClass]'=`{green: ${bool.val} }`
  '[attr.data-tooltip]'=`${bool.val} ? '${bool.ok}' : '${bool.ng}'`
)
  i.material-icons= bool.icon
//- paper-tooltip=`{{ ${bool.val} ? '${bool.ok}' : '${bool.ng}' }}`
