//- bool: {val, ok, ng}
//- .chip.white-text.red(
//-   '[ngClass]'=`{teal: ${bool.val}`
//- )
//-   span(*ngIf=bool.val)= bool.ok
//-   span(*ngIf='!'+bool.val)= bool.ng
.btn-floating.btn-large.tooltipped.red(
  '[ngClass]'=`{green: ${bool.val} }`
  '[attr.data-tooltip]'=`${bool.val} ? '${bool.ok}' : '${bool.ng}'`
)
  i.material-icons power_settings_new
