//- {html, k, label, validators: {k -> msg}}
.input-field
  != html
  //- data-error='wrong'
  //- data-success='right'
  label(
    for=k
  )!= label
  //- .alert.alert-danger(*ngIf=`${k}.dirty && !${k}.valid`)
  .errors.card-panel.red-text.red.lighten-5('[hidden]'=`${k}.valid`)
    - each vldtr in Object.keys(validators)
      //- `${label} is required`
      .error(*ngIf=`${k}.errors.${vldtr}`)!= validators[vldtr]
