//- {html, id, key, model, ctrl, label, validators: {k -> msg}, hidden}
.input-field(
   '[hidden]'=hidden
)
  != html
  //- data-error='wrong'
  //- data-success='right'
  label(
    for=id
  )!= label
  //- p= `val: {{ ${ctrl}.value }}`
  //- p= `errors: {{ ${ctrl}.errors | json }}`
  //- .alert.alert-danger(*ngIf=`${ctrl}.dirty && !${ctrl}.valid`)
  .errors.card-panel.red-text.red.lighten-5('[hidden]'=`${ctrl}.valid`)
    - each vldtr in Object.keys(validators)
      .error(*ngIf=`${ctrl}.errors?.${vldtr}`)!= validators[vldtr]
