//- {html, id, model, label, validators: {k -> msg}}
.input-field
  != html
  //- data-error='wrong'
  //- data-success='right'
  label(
    for=id
  )!= label
  //- .alert.alert-danger(*ngIf=`${model}.dirty && !${model}.valid`)
  p= `errors: {{ ${model}.errors | json }}`
  .errors.card-panel.red-text.red.lighten-5('[hidden]'=`${model}.valid`)
    //- - each vldtr in Object.keys(validators)
    //-   //- `${label} is required`
    //-   .error(*ngIf=`${model}.errors.${vldtr}`)!= validators[vldtr]
